<h1>About us</h1>
<p>Welcome to my app showcasing Pinterest type application developed as part of learning Ruby on Rails framework. I feel it came out pretty well. Feel free to browse pins and create your own account and upload some pins :-)</p>